@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');



body {
  margin: 0;
  font-family: Poppins;
  color: #333;
  min-height: 100hv;
  /* background-image: url(login.png);
  background-size: contain;
  background-position: right;
  overflow: hidden; */
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 400;
   font-size: 30px;
}

h2 {
  font-family: 'Nothing You Could Do', cursive;
  font-weight: 400;
}
.login-section form label {
  font-family: Poppins;
  color: #333;
  font-style: bold;
   font-weight: 800;
}

.header-container {
  background: linear-gradient(to right, #C5A1E1, #9181F4);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .logo {
  font-size: 14px;
  color: white;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
/* 
header nav ul li a.active {
  color: #F9A8D4;
} */

.login-section {
  text-align: center;
  padding: 50px 20px;
  height: 100hv;
  background-color: white;
  /* width: max(400px, 40%);
  border-radius: 0 20px 20px 0; */
  
}

.login-section h2 {
  font-family: 'Cursive', sans-serif;
  font-size: 24px;
  margin-bottom: 40px;
}

.login-section form {
  max-width: 400px;
  margin: 0 auto;
}

.login-section form label {
  display: block;
  text-align: left;
  margin-bottom: 25px;
  font-size: 16px;
}
.login-section form svg {
  display: inline;
}

.login-section form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #E5E7EB;
 
  border-radius: 20px;
  font-size: 16px;
}
.login-section form input:focus{
   border: 1px solid #4a4a4a;
}
.incorect input{
   border: 1px solid #ff5c5c;
}
#error-message{
  color: #ff5c5c;
  font-size: 14px;
  margin-bottom: 20px;
}
.login-section form button {
  background-color: #C6A2E2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.login-section form button:hover {
  background-color: #B68AFF;
}

.login-section p {
  font-size: 10px;
  margin-top: 20px;
 margin-bottom: 100px;
}

.login-section p a {
  color: #333;
  text-decoration: underline;
  

}

.input-container {
  margin-bottom: 20px;
  text-align: left;
}

.input-wrapper {
  display: flex;
  align-items: left; 
  /* border: 2px solid #E5E7EB; */
  /* border-radius: 25px; */
  padding: 5px 10px;
}

.input-wrapper svg {
  margin-right: 10px;
}

.input-wrapper input {
  border: none;
  outline: none;
  flex: 1;
  padding: 1px;
  border-radius: 25px;
  font-size: 14px;
}
